<div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1>
          Församlingar i Sverige genom tiderna
        </h1>
        <hr>
      </div>
      <div class="col-md-12" ng-hide="dataLoading">
        
        <form class="form-inline" role="form">
          <div class="form-group">
            <div class="input-group">
              <label class="sr-only" for="exampleInputEmail2">Församlingsnamn</label>
              <input type="text" class="form-control" id="exampleInputEmail2" placeholder="Namn" ng-model="fulltext">
            </div>
          </div>
          <div class="form-group">
            <select class="form-control" ng-model="selected_county" ng-options="co.cname for co in counties">
              <option value="">-- Län --</option>
            </select>
          </div>
          <div class="form-group">
            <label class="sr-only" for="exampleInputPassword2">Forkod</label>
            <input type="number" class="form-control" id="exampleInputPassword2" placeholder="Forkod" ng-model = "search.forkod" min = "10000" max = "259999">
          </div>
          <button ng-click="clear()" class="btn btn-default">Rensa</button>
        </form>
      <p>
        {{allPars = (parishes | filter: {county: selected_county.county}:true | filter: search.forkod | filter: filterText).length}}/{{parishes.length}}
      </p>
      
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-md-12">
      <nav>
        <ul class="pagination">
          <li ng-class="{disabled: currentPage === 0}">
            <a 
              ng-disabled="currentPage === 0" aria-label="Previous" 
              ng-click="newPage(currentPage-1, (currentPage -1 ) >= 0)"><span aria-hidden="true">«</span>
            </a>
          </li>
          <li class="active"><a href="#">{{currentPage + 1 }}/{{allPars/pageSize | number:0}} <span class="sr-only">(current)</span></a></li>
          
          <li ng-class="{disabled: currentPage >= allPars/pageSize - 1}"><a ng-disabled="currentPage >= allPars/pageSize" aria-label="Next" ng-click="newPage(currentPage+1, (currentPage +1) <= (allPars/pageSize))"><span aria-hidden="true">»</span></a></li>
        </ul>
      </nav>
        <div class="table-responsive">
          <table class="table table-hover" >
            <thead>
              <tr>
                <th>Forkod</th>
                <th>Församling</th>
                <th>Län</th>
                <th style="min-width: 120px;">Indelning</th>
                <th style="min-width: 120px;">Namn</th>
                <th>Länkar</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="par in filteredPars = (parishes | filter: {county: selected_county.county}:true | filter: search.forkod | filter: filterText | offset:currentPage*pageSize | limitTo:pageSize)" >                
                <th scope="row"><a ng-href="#/parish/{{par.pid}}">{{par.forkod}}</a></th>
                <td>{{par.name}}</td>
                <td>{{countName(par.county)}}</td>
                <td style="min-width: 160px;">{{par.indelning}}</td>
                <td style="min-width: 160px;">{{par.namn}}</td>
                <td>
                  <p ng-repeat="link in par.links">
                    <a ng-href="#/parish/{{link[0].id}}">{{link[0].name}}</a>
                  </p>
                </td>
              </tr>             
            </tbody>
          </table>
        </div>
        <nav>
        <ul class="pagination">
          <li ng-class="{disabled: currentPage === 0}">
            <a 
              ng-disabled="currentPage === 0" aria-label="Previous" 
              ng-click="newPage(currentPage-1, (currentPage -1 ) >= 0)"><span aria-hidden="true">«</span>
            </a>
          </li>
          <li class="active"><a href="#">{{currentPage + 1 }}/{{allPars/pageSize | number:0}} <span class="sr-only">(current)</span></a></li>
          
          <li ng-class="{disabled: currentPage >= allPars/pageSize - 1}"><a ng-disabled="currentPage >= allPars/pageSize" aria-label="Next" ng-click="newPage(currentPage+1, (currentPage +1) <= (allPars/pageSize))"><span aria-hidden="true">»</span></a></li>
        </ul>
      </nav>
      <div class="well" ng-hide="filteredPars.length || dataLoading">
        Inga resultat
      </div>
      <div class="well" ng-show="dataLoading">
        Laddar ...
      </div>
    
    </div>
  </div>
</div>
